html {
    font-family: 'Roboto Condensed', sans-serif;
}



.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(42, 40, 38);
}

.menu__start {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

}

.menu__score {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}

.menu__countdown {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}

.main {
    width:100vw;
    height: 100vh;
    background-image: url('sea2.png');
    background-size: 100% auto;
    background-position:bottom;


}

.number-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position:relative;
    top: 500px;
    animation: block 3s infinite linear;
}

@keyframes block{
    0%{top:500px}
    100%{top:0px}
}

.digit{
    box-sizing: border-box;
    color: rgb(36, 32, 32);
    font-size: 3rem;
    font-family: 'Carter One', cursive;
    /*background-image: url('coin.png'); */
    background-size: auto 80%;
    background-repeat: no-repeat;
 

}

