html {
    font-family: 'Krona One', sans-serif;
}

.header {
    background-color: rgb(56, 54, 54);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2vh;
    height: 10vh;
}

.header__button {
    color:white;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo-img {
    width: 5vh;
    height: 5vh;
}

.header__sign {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height: 80%;
}

.header__signup {
    background-color: white;
    color: rgb(56, 54, 54);
    border-radius: 10px;
    padding : 0.6rem 1rem;
    text-decoration: none;
}

.header__signin {
    border: 1px solid white;
    padding : 0.6rem 1rem;
    border-radius: 10px;
    color: white;
    text-decoration: none;

}
