.help_container {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: 3px solid white;
    z-index: 1000000000;
    background-color: rgb(58,58,58);
    max-width: 90vw;
}

.help_back {
    display: block;
    width: 100%;
    max-width: 90vw;
    text-decoration: none;
    color: white;
    background-color: rgb(58,58,58);
    text-transform: uppercase;
    text-align: center;
    padding: 1.5vh 0;
    border-radius: 0 0 15px 15px;
}

.help_gif {

    border-radius:15px 15px 0 0;
    max-width: 90vw;
}