<%- include('partials/header') %>
<link rel="stylesheet" href="/about.css">
<main>

<section class="about__philo">
  <h1 class="about__title">La philosophie de Mathack</h1>
  <p class="about__text">Mathack propose aux élèves du cycle 3 un complément d'apprentissage à l'enseignement scolaire réalisé en classe de mathématiques.
     Le projet vise à mettre à disposition des élèves les innombrables possibilités qu'offre le digital afin de manipuler en profondeur les concepts mathématiques dévéloppés en classe.
     Mathack se présente sous forme de nombreux jeux favorisant la répétition et permettant à chaque élève de se challenger quelque soit leur niveau de compétences au moment où l'application est prise en main.</p>
</section>

<section class="about__philo">
  <h1 class="about__title">Créateur</h1>
  <p class="about__text">Après plus de 2 ans dans le domaine de finance à Londres, je suis devenu enseignant de mathématiques dans le secondaire à la rentrée 2021/2022, année scolaire au cours duquel j'ai été admis au CAPES externe. Je suis passionné par
    la programmation informatique et la création de contenu pédagogique innovant.</p>

    <p class="about__text-sign">Charles Le Chevert</p>

</section>

<section class="about__philo">
  <h1 class="about__title">Crédits</h1>
  <p class="about__text">L'ensemble des images utilisées pour réaliser cette application web sont libres de droit et ont été téléchargées sur Freepik.<br>Retrouvez l'ensemble des artistes sur la page <a href="/credit">crédits</a>
    .</p>

</section>

<section class="about__philo">
  <h1 class="about__title">Contact</h1>
  <p class="about__text">Pour toutes informations supplémentaires ou demandes particulières, voici mon adresse email : charles.lechevert@outlook.fr :)</p>

</section>



</main>
</body>
</html>
