<%- include('partials/headerGame') %>

    <main class="main">
        <div class="box-container">
            <article class="box">
                <p class="box__number" id="random_value1">???</p>
            </article>

            <article class="box">
                <p class="box__number" id="random_value2" >???</p>
            </article>

            <article class="box">
                <p class="box__number" id="random_value3" >???</p>
            </article>

            <article class="box">
                <p class="box__number" id="random_value4">???</p>
            </article>

        </div>



    </main>



    
</body>
</html>