<%- include('partials/headerGame') %>
<%- include('partials/modalStartGame') %>
<%- include('partials/modalEndGame') %>

    <main class="main">
        <div>
            <img id ='boat1'src="/C1G2/boat1.png" alt="">
            <img id ='boat2' src="/C1G2/boat2.png" alt="">
            <img id ='boat3' src="/C1G2/boat3.png" alt="">
        </div>
        <div class="number-container" id="number">
            <article class="digit" id="random_digit1" >
                <p></p>
            </article>

            <article  class="digit" id="random_digit2">
                <p></p>
            </article>

            <article class="digit" id="random_digit3">
                <p></p>
            </article>

            <article class="digit" id = "coma" >
                <p >,</p>
            </article>


            <article class="digit" id="random_digit4">
                <p></p>
            </article>

            <article class="digit" id="random_digit5">
                <p></p>
            </article>

            <article class="digit" id="random_digit6">
                <p></p>
            </article>

            <article class="digit" id="random_digit7">
                <p ></p>
            </article>

        </div>

    </main>
    <form action="/register" name="score__form" method="post">
        <input type="hidden" class="hiddenInput" name="score" id="score">
        <input type="hidden" class="hiddenInput" name="game_id" id="game_id" value="<%=gameID%>">
    </form>
    
</body>
</html>