<%- include('partials/header') %>

    <main class="main"> 

        <div class="main__parrots">

            <div class="parrot__container" class='gela'>
                <img class="parrot__img" src="/C1G3/parrot1.png" id="im1">
                <p class="parrot__number" id="parrot1">0</p>
            </div>

            <div class="parrot__container">
                <img class="parrot__img"src="/C1G3/parrot3.png" id="im2">
                <p class="parrot__number" id="parrot2" >0</p>
            </div>

            <div class="parrot__container">
                <img class="parrot__img"src="/C1G3/parrot2.png" id="im3">
                <p class="parrot__number" id="parrot3">0</p>
            </div>

            <div class="parrot__container">
                <img class="parrot__img"src="/C1G3/parrot4.png" id="im4">
                <p class="parrot__number" id="parrot4">0</p>
            </div>
           
            

        </div>


        <div class="main__numbers">

            <div class="ladder-stick">
                <img class="ladder-stick__img" src="/C1G3/ladder-2-removebg-preview.png" alt="">
            </div>

            <div class="number__ladder" id="div21">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                        
                </div>
                <p class="number">4</p>
            </div>

            <div class="number__ladder" id="div20">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">3.8</p>
            </div>

            <div class="number__ladder" id="div19">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">3.6</p>
            </div>

            <div class="number__ladder" id="div18">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">3.4</p>
            </div>

            <div class="number__ladder" id="div17">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">3.2</p>
            </div>

            <div class="number__ladder" id="div16">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                        
                </div>
                <p class="number">3</p>
            </div>

            <div class="number__ladder" id="div15">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">2.8</p>
            </div>

            <div class="number__ladder" id="div14">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">2.6</p>
            </div>

            <div class="number__ladder" id="div13">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">2.4</p>
            </div>

            <div class="number__ladder" id="div12">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">2.2</p>
            </div>

            <div class="number__ladder" id="div11">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number">2</p>
            </div>

            <div class="number__ladder" id="div10">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">1.8</p>
            </div>

            <div class="number__ladder" id="div9">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">1.6</p>
            </div>

            <div class="number__ladder" id="div8">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">1.4</p>
            </div>

            <div class="number__ladder" id="div7">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">1.2</p>
            </div>

            <div class="number__ladder" id="div6">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder" >
                </div>
                <p class="number">1</p>
            </div>

            <div class="number__ladder"  id="div5">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">0.8</p>
            </div>

            <div class="number__ladder"  id="div4">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
                </div>
                <p class="number" id="number--hidden">0.6</p>
            </div>

            <div class="number__ladder"  id="div3">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder" >
                </div>
                <p class="number" id="number--hidden">0.4</p>
            </div>

            <div class="number__ladder"  id="div2">
                <div class="ladder__container">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder" >

                </div>
                <p class="number" id="number--hidden">0.2</p>
            </div>

            
            <div class="number__ladder" id="div1">
                <div class="ladder__container" id="testing">
                    <img class="ladder" src="/C1G3/ladder-1.png" alt="ladder">
 
                              
                </div>
                <p class="number">0</p>
            </div>
        

            

                
                    
                        

           


        </div>


    </main>


    
</body>
</html>