<%- include('partials/headerGame') %>

    <main>
        <section class="grid">

        </section>
        <section class ="info">
            <div class="quantity">
                
            
                <div class="dialog-1">
                        <p class="answer"></p>
                     <div class="left-point"></div>
                </div>
                <img class="sprite" src="/C1G4/sprite2.png" alt="">
    
            </div>
                        
           

            <div class="validate">
                <button class="big-button">OK</button>

            </div>

        </section>
    </main>
    
</body>
</html>