<%- include('partials/headerGame') %>
<%- include('partials/modalStartGame') %>
<%- include('partials/modalEndGame') %>

    <main>
        <section class="sea">
            <div class="operation">23 + 47 =</div>
            <div class="character">
                <img class="boat" src="/C2G1/boat2.png"  alt="">
            </div>

            <div class="block" id="b1">
                <p class="number" id="n1">7</p>
                <img class='boat'src="/C2G1/boat.png" id="boat1"  alt="">
            </div>

            <div class="block" id="b2">
                <p class="number" id="n2">7</p>
                <img class='boat'src="/C2G1/boat.png" id="boat2" alt="">
                
            </div>
            <div class="block" id="b3">
                <p class="number" id="n3">7</p>
                <img class='boat'src="/C2G1/boat.png" id="boat3" alt="">
                
            </div>

            <!--   
            <div class="popup">
                <p class="finalScore">SCORE : 47</p>
                <div class="navigation">
                    <a class = "back"href="">MENU</a>
                    <a class='again'href="">RECOMMENCER</a>
                </div>

            </div> -->

        </section>

        </section>

    </main>
    <form action="/register" name="score__form" method="post">
        <input type="hidden" class="hiddenInput" name="score" id="score">
        <input type="hidden" class="hiddenInput" name="game_id" id="game_id" value="<%=gameID%>">
    </form>
    
</body>
</html>