<%- include('partials/headerGame') %>
<link href="https://fonts.googleapis.com/css2?family=Nabla&family=Press+Start+2P&display=swap" rel="stylesheet">


    <main>
        <section class="number-container" id="container5"></section>
        <section class="number-container" id="container4"></section>
        <section class="number-container" id="container3"></section>
        <section class="number-container" id="container2"></section>
        <section class="number-container" id="container1"></section>

        <section class="footer">
            <div class="sprite">
                
                    <img src="/C3G2/sprite2.png" class="sprite-img" alt="">
                
            </div>
            <div class="multiple">
                <p class="multiple__text">Trouve le multiple de</p>
                <p class="multiple__number">1</p>
            </div>
        </section>
    </main>

</body>
</html>