<%- include('partials/header') %>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Press+Start+2P&display=swap" rel="stylesheet">    <link rel="stylesheet" >


    <main>
        
        <section class="grid">

        </section>
        <section class = "info">
                <p class="divisor__descr">Trouve le multiple de</p>
                <p class="divisor__number">4</p>
        </section>
    </main>
    
</body>
</html>