<%- include('partials/header') %>
<link rel="stylesheet" href="/class/class.css">
<body>
<main >
    <section class="class__container">
        <a href="/enrollclass" class="class__option-container">
            <div class="class__img-container">
                <img class="class__img" src="key.png" alt="">
            </div>
            <div class="class__text-container">
                <div class="class__title">Rejoindre une classe</div>
                <div class="class__descr"> Tu es élève et ton enseignant de mathématiques t'a transmis un code ? C'est par ici!</div>
            </div>
        </a>

        <a href="/createclass" class="class__option-container">
            <div class="class__img-container">
                <img class="class__img" src="chest.png" alt="">
            </div>
            <div class="class__text-container">
                <div class="class__title">Créer une classe</div>
                <div class="class__descr"> Espace enseignant afin de créer une classe et suivre la progression des élèves tout au long de l'année.</div>
            </div>
        </a>
    </section>
</main> 
</body>
</html>

