<%- include('partials/header') %>
<link rel="stylesheet" href="/class/class.css">
<body>
<main >
    <section class="class__container">
        <div class="class__create-container">
        <form class="class__enroll-form" method="post">
            <label class="class__enroll-label" for="code">Créer une classe</label>
            <p class="class_enroll-descr">Pour créer une classe il suffit de rentrer un code à 6 caractères ci-dessous (exemple : ABC6E1). Les élèves devront ensuite entrer ce code dans la section "rejoindre une classe". Vous pourrez ensuite suivre le progrès de l'ensemble de vos élèves.</p>
            <input class="class__enroll-input" type="text" name="code">
            <% if(locals.errorMessages) { %>
                <p class="class_enroll-descr">Le code doit comporter exactement 6 caractères</p>
            <% } %>
            <input class="class__enroll-submit" placeholder="Le code c'est ici!" type="submit" value = "créer">
        </form>
        </div>
        <div class="class__create-container">
            
            <h2 class="class__enroll-label">Mes classes</h2>
            <p class="class_enroll-descr">Vous n'avez pas encore de classe</p>
            </div>
    </section>
</main> 
</body>
</html>

