<%- include('partials/header') %>
<link rel="stylesheet" href="/about.css">
<main>

<section class="about__philo">
  <h1 class="about__title">Crédits Freepik</h1>
 <div class="credit__list">
    <a href="https://www.freepik.com/free-vector/tropical-island-with-treasure-chest-broken-pirate-ship-cartoon-sea-landscape-with-sail-boat-after-shipwreck-with-skull-black-sails-palm-trees-gold-coins-uninhabited-island_15709554.htm#query=island%20pirates&position=1&from_view=keyword">Page d'accueil : Image de upklyak</a><br>
    <a href="https://www.freepik.com/free-vector/set-pirate-items-cartoon-icons-vector-illustration_21133841.htm#query=island%20pirates&position=7&from_view=keyword">Différent objets : Image de upklyak</a><br>
    <a href="https://fr.freepik.com/vecteurs-libre/voiliers-vecteur-voiles-blanches-rouges-noires_6993845.htm#query=upklyak%20pirates&position=42&from_view=search&track=sph">Boat : Image de upklyak</a><br>
    <a href="https://fr.freepik.com/vecteurs-libre/epave-bateau-pirate-navire-flibustier-coule-bateau-bois-drapeau-jolly-roger-fond-sable-ocean-rayons-soleil-dessin-anime_12874600.htm#page=4&query=upklyak%20pirates&position=4&from_view=search&track=sph">Image des menus de chapitre : Image de upklyak</a><br>

 </div>
</section>




</main>
</body>
</html>
