<%- include('partials/header') %>
<link rel="stylesheet" href="/class/class.css">
<body>
<main >
    <section class="class__container">
        <form class="class__enroll-form" action="post">
            <label class="class__enroll-label" for="code">Rentre ton code secret</label>
            <p class="class_enroll-descr">Rentre le code communiqué ci-dessous afin de rejoindre l'équipage!</p>
            <input class="class__enroll-input" type="text">
            <input class="class__enroll-submit" type="submit">
        </form>

    </section>
</main> 
</body>
</html>

