<%- include('partials/header') %>
<link rel="stylesheet" href="/index/style.css">
<main>



    <div class = "chapters">
      <% for(chapter of chapters) { %>
        <div class="nav">
            <input type="checkbox">
              <span></span>
              <span></span>
              <div class="menu">
                <li><a href="/chapter/<%= chapter.position %>">Chapitre <%= chapter.position %> - <%= chapter.title %>  </a></li>
              </div>
        </div>
        <% } %>  

    </div>

</main>  
</body>
</html>
