<%- include('partials/header') %>
<link rel="stylesheet" href="/admin/style.css">

    
    <section class = "sign">
        <form method="post" action="/signout">
        <div class="sign__container">
            
                <h2 class="sign__title">Voulez-vous vous déconnecter?</h2>
                <div class="signout-answer">
                    <button class="signout-yes" type="submit">OUI</button>
                    <a class="signout-no" href="/">NON</a>
                </div>
        </div>
    </form>

          
    </section>
        

    
</body>
</html>
