<%- include('partials/header') %>
<link rel="stylesheet" href="/admin/style.css">

    
    <section class = "sign">
        <form method="post">
        <div class="sign__container">
            
                <h2 class="sign__title">Se connecter</h2>
                <label class="sign__label" for="identifier">Email ou pseudo</label>
                <input class="sign__input" type="text" name="identifier" id="">
                <label class="sign__label" for="password">Mot de passe</label>
                <input class="sign__input" type="password" name="password" id=""> 
                <% if(locals.errorMessage) { %>
                    <p class="sign__error"><%= errorMessage%></p>
                <% } %>  
                <button class="sign__validate">Valider</button>
                <a href="/signup" class="sign__redirect">Pas de compte? Inscris-toi</a>
                <a href="/forgetpwd" class="sign__forgetpwd">Mot de passe oublié?</a>
        </div>
    </form>

          
    </section>
        

    
</body>
</html>
