html {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.header__button {
    color:white;
    padding: 2rem;
    text-decoration: none;
}

.chapter {
    background-image: url('../images/backgroundmenu.jpg');
    height : 100vh;
    background-size: cover;
    padding-top: 2rem;
    background-position: 50%;
    
    
}

.chapter__title {
    text-align: center;
    color:white;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 1rem 1rem;
    margin: 0rem 5rem 1rem 5rem;
    box-sizing:border-box;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    background-color: rgba(56, 54, 54, 0.5);
    display:block;
    
    
}
