html {
    font-family: 'Krona One', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}



.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(57, 55, 54);
    height: 10vh;
    align-items: center;
}

.menu__start {
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

}

.menu__score {
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}

.menu__countdown {
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}

.main {
    width:100vw;
    height: 90vh;
    background-color: rgb(220, 238, 251);
    background-position:bottom;
    overflow: hidden;


}

.number-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position:relative;
    animation: none;
    margin: 0 2vw;
    
}

@keyframes block{
    from{transform: translateY(100vh)}
    to{transform: translateY(-10vh)}
}

.digit{
    box-sizing: border-box;
    color: rgb(55, 51, 51);
    font-size: 3rem;
    /*background-image: url('coin.png'); */
    background-size: auto 80%;
    background-origin:content-box;
    background-repeat: no-repeat;
    text-shadow: 3px 3px rgba(55, 56, 64, 0.647);
    padding: 3vh 0;
}

#boat1 {
    position : absolute;
    width: 40vw;
    left:-20vw;
    bottom : 30vh;
    overflow: hidden;
  
}


#boat2 {
    position : absolute;
    width: 40vw;
    right: 0vw;
    bottom: 40vh;
    overflow: hidden;
  
}

#boat3 {
    position : absolute;
    width: 60vw;
    bottom: 0vh;
    left:20vw;
    overflow: hidden;
  
}
