<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fruktur&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&family=Arvo&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/headerGame.css">
    <link rel="stylesheet" href="/<%=gameID%>/<%=gameID%>.css">
    <title>Jeu 1</title>
    <script src="/<%=gameID%>/<%=gameID%>.js" defer> </script>
    <script src="/popup.js" defer></script>
</head>
<body>
    <header class="menu">
        <h2 class="menu__start" id="start">Go!</h2>
        <div class="menu__score-container">
            <h2 class="menu__score" id="score">0</h2>
            <h2 class="menu__score-text">Score</h2>
        </div>
        <div class="menu__countdown-container">
            <h2 class="menu__countdown" id="countdown">30</h2>
            <h2 class="menu__countdown-text">Temps</h2>
        </div>
        
        
    </header>