<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/header.css">
    <script src="/header.js" defer></script>
    <title>A l'abordage</title>
</head>
<body>
  <div class="cursor">
    <div class="nail"></div>
    <div class="linefinger-cont">
        <div class="linefinger"></div>
        <div class="linefinger"></div>
    </div>
  </div>
    <header class ="header">
        <a href="#" class="header__button">à propos</a>
        <a href="/" class="header__logo">
          <img src="/logoApp.png" class="header__logo-img" alt="">
        </a>
        
        <% if(pseudo) { %>
            <div id="dropdownbtn" class="header__online--container dropbtn">
                <p class="header__online--text"><%=pseudo%> <i class="arrow down"></i></p>
                <p class="header__online--button"></p>   
            </div>
            <div id="myDropdown" class="dropdown-content">
              <a class="dropdown__link" href="/stats">Score</a>
              <a class="dropdown__link" href="/signout">Déconnexion</a>
            </div>
    
        
        
        <% } else { %>

        <div class="header__sign">
          <a href="/signin" class= "header__signin">Se connecter</a>
          <a href="/signup" class= "header__signup">S'inscrire</a>
      </div>


<% } %>
    </header>