<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="header.css">
    <title>A l'abordage</title>
</head>
<body>
    <header class ="header">
        <a href="#" class="header__button">à propos</a>
        <div class="header__logo">
          <img src="/logoApp.png" class="header__logo-img" alt="">
        </div>
        
        <div class="header__sign">
          <a href="/signin" class= "header__signin">Se connecter</a>
          <a href="/signup" class= "header__signup">S'inscrire</a>
      </div>
    </header>