<link rel="stylesheet" href="/help.css">
<script src="/help.js" defer></script>

<section class="help_container">
    <img src="/<%=gameID%>/GIF_<%=gameID%>.gif" alt="funny GIF" class="help_gif">
    <p class="help_back">Retour</p>
</section>

