<link rel="stylesheet" href="/modalGame.css">


<section class="modal__container--end">
    <div>
        <p class="modal__score--end "id="modal__score--end">GO</p>
    </div>
    <img class="modal__logo--end" src="/logoEndGame.png" alt="">
    <div class="modal__nav--end">
        <a href="/" class="modal__nav-text1--end">Menu</a>
        <p href="/game/<%= gameID %>" class="modal__nav-text2--end" id="modal__again">Recommencer</p>

    </div>
    
</section>

