html {
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    background-color: black;
    height: 20vh;
    display: flex;
    flex-direction: row;
    color : white;
    justify-content: space-around;
    align-items: center;

}

.main {
    height: 100vh;
    background-image: url('floor3.png');
    background-size: auto 100%;
    background-position: 35% 0;
    

}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.box {
    box-sizing: border-box;
    
    text-align: center;
    margin: 4rem 0;
    height:150px;
    width:150px;
    background-image: url('box2.png');
    background-size: auto 100%;
    color:rgb(56, 91, 57);
    font-size: 2rem;
    font-family: 'Fruktur', cursive;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* width and color */
    
    
}




.menu__start {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

}

.menu__score {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}

.menu__countdown {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}



