html {
    font-family: 'Krona One', sans-serif;
}

.menu {
    background-color: rgb(57, 54, 54);
    height: 10vh;
    display: flex;
    flex-direction: row;
    color : white;
    justify-content: space-around;
    align-items: center;

}

.menu__start {
    font-size: 3vh;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

}

.menu__score {
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}

.menu__countdown {
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}


.main {
    height: 100vh;
    width: 100vw;
    background-image: url('floor3.png');
    background-size: auto 100%;
    background-position: 35% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    

    

}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 10vh 0;


}

.box {
    box-sizing: border-box;
    
    text-align: center;
    margin: 2vh 0;
    height:40vw;
    width:40vw;
    max-height: 300px;
    max-width: 300px;
    background-image: url('box2.png');
    background-size: auto 100%;
    color:rgb(56, 91, 57);
    font-size: 2rem;
    font-family: 'Fruktur', cursive;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* width and color */
    
    
}





