html {
    font-family: 'Krona One', sans-serif;
}


/*FOR THE HEADER_____________________________________________________________________________ */

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(65, 62, 59);
    width: 100vw;
    height: 10vh;
}

.menu__start {
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

}

.menu__score {
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}

.menu__countdown {
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}

/*MAIN______________________________________________________*/

main {
    background-image: url('background.jpg');
    background-size:cover; 
    height: 90vh; /*Not 100 because header is taking already 10 */
    display: flex;
    flex-direction: column;
}

body {
    overflow: hidden;
}
.number-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left:-1500vw;
    position:relative;
    width: 1500vw;
    /*animation : slide-right 100s linear infinite; */
    overflow: hidden;

}



@keyframes slide-right {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      to {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
      }
}

@keyframes slide-left {
    from {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
      }
      to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
}


.number { /*Manage */
    height: 12vh;
    width:12vh;
    text-align:center;
    background-image: url('log.png');
    background-size: cover;
    font-size: 6vh;
    font-family: 'Nabla', cursive;
    

}

.footer {
    flex-grow:1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.sprite {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiple {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sprite-container {
    width: 100%;



}

.sprite-img {
    height: 12vh;
    width:12vh;
}

.multiple__text {
    font-size:4vh;
    color: black;
    text-transform: uppercase;
    font-family: 'Nabla', cursive;
    text-align: center;
    
}

.multiple__number {
    font-family: 'Nabla', cursive;
    font-size: 10vh;
    text-align: center;
}


