html {
    font-family: 'Roboto Condensed', sans-serif;

}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(42, 40, 38);
    width: 100%;
    z-index:1000000;

    
}

.menu__start {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

}

.menu__score {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}

.menu__countdown {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

    
}



/* GRID____________________________________________________________________*/

.grid {
    margin-top: 1rem;
    background-image: url('background.jpg');
    background-size: cover;

}

.row{
    
    display: flex;
    flex-direction: row;
    
}

.cell {
    
    width: 12.5vw;
    height: 12.5vw;
    box-sizing: border-box;
    background-image: url('pavement.png');
    background-size: cover;
    font-family: 'Nabla', cursive;
    text-align: center;
    font-size: 9vw;

}

.sprite {
    height: 12vw;
    width: 12vw;
}